<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<real>0.24</real>
		<real>0.16</real>
		<real>0.51</real>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>1</key>
	<array>
		<real>0.04</real>
		<real>0.04</real>
		<real>0.2</real>
		<real>0.27</real>
		<real>0.24</real>
		<real>0.6</real>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>2</key>
	<array>
		<real>0.04</real>
		<real>0.08</real>
		<real>0.24</real>
		<real>0.33</real>
		<real>0.31</real>
		<real>0.6899999999999999</real>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>3</key>
	<array>
		<real>0.12</real>
		<real>0.12</real>
		<real>0.47</real>
		<real>0.39</real>
		<real>0.39</real>
		<real>0.78</real>
		<integer>1</integer>
		<integer>1</integer>
		<real>0.78</real>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>4</key>
	<array>
		<real>0.14</real>
		<real>0.16</real>
		<real>0.59</real>
		<real>0.63</real>
		<real>0.2</real>
		<real>0.08</real>
		<integer>1</integer>
		<integer>1</integer>
		<real>0.29</real>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>5</key>
	<array>
		<real>0.16</real>
		<real>0.2</real>
		<real>0.71</real>
		<real>0.98</real>
		<real>0.27</real>
		<real>0.14</real>
		<integer>1</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>6</key>
	<array>
		<real>0.16</real>
		<real>0.31</real>
		<real>0.78</real>
		<integer>1</integer>
		<real>0.64</real>
		<real>0.18</real>
		<real>0.92</real>
		<real>0.24</real>
		<real>0.24</real>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
	</array>
	<key>7</key>
	<array>
		<real>0.15</real>
		<real>0.39</real>
		<real>0.78</real>
		<integer>1</integer>
		<real>0.68</real>
		<real>0.18</real>
		<real>0.9399999999999999</real>
		<real>0.53</real>
		<real>0.2</real>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
	</array>
	<key>8</key>
	<array>
		<real>0.13</real>
		<real>0.49</real>
		<real>0.79</real>
		<integer>1</integer>
		<real>0.73</real>
		<real>0.18</real>
		<real>0.96</real>
		<real>0.71</real>
		<real>0.16</real>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>9</key>
	<array>
		<real>0.12</real>
		<real>0.59</real>
		<real>0.79</real>
		<integer>1</integer>
		<real>0.8</real>
		<real>0.18</real>
		<real>0.98</real>
		<real>0.88</real>
		<real>0.12</real>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>10</key>
	<array>
		<real>0.08</real>
		<real>0.58</real>
		<real>0.86</real>
		<integer>1</integer>
		<real>0.86</real>
		<real>0.29</real>
		<real>0.98</real>
		<real>0.89</real>
		<real>0.08</real>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>11</key>
	<array>
		<real>0.04</real>
		<real>0.57</real>
		<real>0.9399999999999999</real>
		<integer>1</integer>
		<real>0.9399999999999999</real>
		<real>0.39</real>
		<real>0.99</real>
		<real>0.91</real>
		<real>0.04</real>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>12</key>
	<array>
		<integer>0</integer>
		<real>0.55</real>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<real>0.92</real>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>13</key>
	<array>
		<real>0.04</real>
		<real>0.57</real>
		<real>0.9399999999999999</real>
		<integer>1</integer>
		<real>0.9399999999999999</real>
		<real>0.39</real>
		<real>0.99</real>
		<real>0.91</real>
		<real>0.04</real>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>14</key>
	<array>
		<real>0.08</real>
		<real>0.58</real>
		<real>0.86</real>
		<integer>1</integer>
		<real>0.86</real>
		<real>0.29</real>
		<real>0.98</real>
		<real>0.89</real>
		<real>0.08</real>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>15</key>
	<array>
		<real>0.12</real>
		<real>0.59</real>
		<real>0.79</real>
		<integer>1</integer>
		<real>0.8</real>
		<real>0.18</real>
		<real>0.98</real>
		<real>0.88</real>
		<real>0.12</real>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>16</key>
	<array>
		<real>0.13</real>
		<real>0.49</real>
		<real>0.79</real>
		<integer>1</integer>
		<real>0.73</real>
		<real>0.18</real>
		<real>0.96</real>
		<real>0.71</real>
		<real>0.16</real>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>17</key>
	<array>
		<real>0.15</real>
		<real>0.39</real>
		<real>0.78</real>
		<integer>1</integer>
		<real>0.68</real>
		<real>0.18</real>
		<real>0.9399999999999999</real>
		<real>0.53</real>
		<real>0.2</real>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
	</array>
	<key>18</key>
	<array>
		<real>0.16</real>
		<real>0.31</real>
		<real>0.78</real>
		<integer>1</integer>
		<real>0.64</real>
		<real>0.18</real>
		<real>0.92</real>
		<real>0.24</real>
		<real>0.24</real>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
	</array>
	<key>19</key>
	<array>
		<real>0.16</real>
		<real>0.2</real>
		<real>0.71</real>
		<real>0.98</real>
		<real>0.27</real>
		<real>0.14</real>
		<integer>1</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>20</key>
	<array>
		<real>0.14</real>
		<real>0.16</real>
		<real>0.59</real>
		<real>0.63</real>
		<real>0.2</real>
		<real>0.08</real>
		<integer>1</integer>
		<integer>1</integer>
		<real>0.29</real>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>21</key>
	<array>
		<real>0.12</real>
		<real>0.12</real>
		<real>0.47</real>
		<real>0.39</real>
		<real>0.39</real>
		<real>0.78</real>
		<integer>1</integer>
		<integer>1</integer>
		<real>0.78</real>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>22</key>
	<array>
		<real>0.04</real>
		<real>0.08</real>
		<real>0.24</real>
		<real>0.33</real>
		<real>0.31</real>
		<real>0.6899999999999999</real>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>23</key>
	<array>
		<real>0.04</real>
		<real>0.04</real>
		<real>0.2</real>
		<real>0.27</real>
		<real>0.24</real>
		<real>0.6</real>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
</dict>
</plist>
